<h1>Heroes<small>Marvel y DC</small></h1>
<hr>
<div class="card-columns">
	<div class="card animated fadeIn fast" *ngFor="let heroe of heroes;let i =index">
		<img [src]="heroe.img" class="card-img-top img-fluid" alt="heroe.nombre">
		<div class="card-block">
			<h4 class="card-title">{{heroe.nombre}}</h4>
			<p class="card-text">{{heroe.bio}}</p>
			<p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>

			<button type="button" class="btn btn-outline-primary btn-block" [routerLink]="['/heroe',i]">Ver mas..</button>
			<!-- <a href="#" title="" class="btn btn-outline-primary" [routerLink]="['/heroe',i]">Ver mas link ...</a> -->
		</div>
	</div>


</div>
