<h1 class="animated fadeIn fast">Sobre comic App</h1>
<hr>
<p class="animated fadeIn">
	  Velit enim qui irure ut aute reprehenderit minim irure ut culpa laboris duis veniam nostrud pariatur sint ex ad ex.
</p>
