<h1>{{heroe.nombre| uppercase}} <small>{{heroe.aparicion | date:'y'}}</small></h1>
<hr>
<div class="row">
	<div class="col-md-4">
		 <img [src]="heroe.img" [alt]="heroe.nombre" class="img-fluid">
		 <br><br>
		 <a href="heroes" title="" class="btn btn-outline-danger btn-block" [routerLink]="['/heroes']">Regresar</a>
	</div>
	
	<div class="col-md-8">
		<h3>{{heroe.nombre}}</h3>
		<hr>
		<p>
			{{heroe.bio}}
		</p>

		<div>
			<img *ngIf="heroe.casa=='DC'" src="assets/img/dc.png" alt="DC" class="img-logo" width="60px">
			<img *ngIf="heroe.casa=='Marvel'" src="assets/img/marvel.png" alt="MARVEL" class="img-logo" width="110px">
		</div>
	</div>
</div>

<!-- aparicion: "1941-11-01"
bio: "El poder más reconocido de Aquaman es la capacidad telepática para comunicarse con la vida marina, la cual puede convocar a grandes distancias."
casa: "DC"
img: "assets/img/aquaman.png"
nombre: "Aquaman" -->